<?xml version="1.0" encoding="utf-8"?>
<Package
  IgnorableNamespaces="uap mp desktop uap10 rescap build"
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/manifest/updater"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:uap10="http://schemas.microsoft.com/appx/manifest/uap/windows10/10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:build="http://schemas.microsoft.com/developer/appx/2015/build">

  <Identity
    Name="AgentHarness.WinUI"
    Publisher="CN=Arkhe"
    Version="1.0.0.0" />

  <Properties>
    <DisplayName>AgentHarness</DisplayName>
    <PublisherDisplayName>Arkhe</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.22621.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.22621.0" />
  </Dependencies>

  <Resources>
    <Resource Language="en-us" />
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="AgentHarness"
        Description="WinUI 3 Desktop Shell for AgentHarness"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\StoreLogo.png"
        Square44x44Logo="Assets\StoreLogo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\StoreLogo.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <desktop:Capability Name="desktopAppAttachment" />
  </Capabilities>
</Package>
